<html>
<head>
</head>

<body>

<h1 class="header">Week 5 Product app</h1>

<div class="cart-droppable-area">
	<i class="cart-icon fa fa-shopping-cart fa-5x">Shopping Cart</i>
	drag items here to add to cart
</div>

<div class="grid-container">
	
	<% @products.each do |product| %>

	  <div class="product-container" draggable="true" >
	  
	  	<div class="product-title">
	  		<%= product.name %>
	  	</div>
	  	
	  	<div class="image-container">
	  		 <%= image_tag( product.picture ,  size: "100x100" , alt: product.name, :class => 'product-image') %>
	 	</div>	
	 	
	    <div class="product-price">
	 		<%= "$ " + product.cost.to_s %>
	  	</div>

	  	<div class="product-buttons">
		  	<!-- Add to Cart Button -->
			<ul>
				<li class="add-to-cart">
					Add to Cart
				</li>	

			  	<!-- Product Details -->
				<li class="product-details">
					Product Details
				</li>
			</ul>
	  	</div>
	  
	  </div>
	<% end %>
	

</div>

</body>
</html>